body{
    background-color: #CEC5B0;
    font-family: Impact;
    text-align: center;
}
 title{
    text-align: center;
    font-size: 30px;
 }
div{
    border: 8px solid #919287;
}

img{ border-radius: 10%;
    border: 10px solid #f1e7da;
}


.aboutme{
text-align:center;
}

.skills{
    text-align: center;
}

.perspective{
    text-align: center;
}